body {
	background-image: url(wormz.png);
}

.box {
	background: lavender;
	width: 700px;
	border-width: 1px;
	border-style: solid;
	border-color: grey;
	margin-left: 100px;
	float: left;
	margin-top: 20px;
}

.imageHolderBox {
	background: lavender;
	display: inline-block;
	width: 700px;
	border-width: 1px;
	border-style: solid;
	border-color: grey;
	margin-left: 100px;
	float: left;
	margin-top: 20px;
}

.crystal {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 35px; 
	margin-left: 35px;
	margin-top: 20px;
	margin-bottom: 20px;

}

p {
	margin-left: 20px;
	margin-right: 20px;
}

h1 {
	margin-left: 20px;
}